.footer {
  background-color: #000;
  height: 100vh;

  padding-top: 120px;
  position: relative;

  a {
    transition: 0.2s ease;

    &:hover {
      opacity: 0.8;
    }
  }

  &__gmail {
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: 100;
  }

  &__logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;

    .logo {
      @media (max-width: 440px) {
        display: none;
      }
    }
  }

  &__phone {
    white-space: nowrap;

    @media (max-width: 440px) {
      display: flex;
      flex-direction: column;
      align-items: center;

      gap: 10px;
    }

    span {
      font-weight: 200;
    }

    color: #fff;
    font-size: 14px;
    font-weight: 100;
  }

  &__social {
    display: flex;
    align-items: center;
    gap: 16px;

    justify-content: center;
    position: absolute;
    bottom: 32px;
    left: 50%;
    transform: translateX(-50%);

    @media (max-width: 440px) {
      bottom: 20px;
    }

    &-link {
      width: 56px;
      height: 56px;
      display: flex;
      align-items: center;
      border-radius: 56px;
      background: #0e0e0e;

      position: relative;

      &:hover {
        background: #2f2f2f;
      }

      svg {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        width: 30%;
        height: 30%;
      }
    }
  }
}

.footer-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;

  @media (max-width: 440px) {
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }

  .end {
    display: flex;
    align-items: center;
    gap: 40px;

    @media (max-width: 440px) {
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
      top: 50%;
      flex-direction: column;
      gap: 20px;
    }
  }
}
