.form {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 28%;
  z-index: 10;
  right: -28%;

  background-color: var(--primary-color);
  background-color: #0e0e0e;
  padding: 52px;

  z-index: 10;
  transition: 0.6s ease-in-out;

  @media (max-width: 1640px) {
    width: 40%;
  }

  @media (max-width: 768px) {
    right: -100%;
    width: 100%;
  }

  @media (max-width: 440px) {
    padding: 20px;
  }

  &.active {
    right: 0;
    visibility: visible;
  }

  &__top {
    &-title {
          color: #4b4b4b;
      font-size: 14px;
      font-weight: 100;

      @media (max-width: 768px) {
        &.active {
          visibility: hidden;
        }
      }
    }
  }
}

.input-form {
  width: 100%;
  padding-bottom: 20px;

   border-bottom: 1px solid #1E1E1E;

  color: #fff;
  font-size: 14px;
  font-weight: 100;
  font-family: Roboto;

  &::placeholder {
    font-family: var(--font-family);

    color: #fff;
    font-size: 14px;
    font-weight: 100;
  }
}

.form-overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 10;

  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: 0.2s ease-in-out;

  &::before {
    content: "";
    position: fixed;

    background-color: #0e0e0ed1;
    width: 100%;
    height: 100%;
    opacity: 1;
  }

  &.active {
    opacity: 1;
    pointer-events: all;
    visibility: visible;
  }
}

.textarea-form {
  resize: none;
  width: 100%;
  padding-bottom: 10px;

  border-bottom: 1px solid #1E1E1E;
  // height: 120px;

  color: #fff;
  font-size: 14px;
  font-weight: 100;

  &::placeholder {
    font-family: var(--font-family);

    color: #fff;
    font-size: 14px;
    font-weight: 100;
  }
}

.inp-bottom {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 440px) {
    padding-bottom: 20px;
  }

  .inp-bottom-title {
    color: #fff;
    font-size: 18px;
    font-weight: 100;

    @media (max-width: 440px) {
      font-size: 14px;
    }
  }

  .input-btn {
   color: #4b4b4b;
    font-size: 18px;
    font-weight: 100;
    font-family: var(--font-family);
    transition: 0.2s ease;

    @media (max-width: 440px) {
      font-size: 14px;
    }

    &:hover {
      opacity: 0.8;
    }
  }
}

.form__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  .top {
    margin-top: 30%;

    display: flex;
    flex-direction: column;
    gap: 80px;

    @media (max-width: 440px) {
      gap: 48px;
    }
  }
}

.btn-open-menu {
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 9;

  @media (max-width: 440px) {
    right: 16px;
    bottom: 16px;

    svg {
      width: 30px;
      height: 30px;
    }
  }
}
