.hero {
  height: 100vh;
  width: 100%;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  @media (max-width: 440px) {
    background-position: 60%;
  }

  // &::before {
  //   position: absolute;
  //   content: "";
  //   left: 0;
  //   right: 0;
  //   top: 0;
  //   bottom: 0;
  //   width: 100%;
  //   height: 100%;
  //   background: linear-gradient(
  //     180deg,
  //     rgba(217, 217, 217, 0.18) -54.6%,
  //     rgba(0, 0, 0, 0.72) 100%
  //   );
  // }

  &__content {
    position: relative;
    z-index: 2;

    @media (max-width: 440px) {
      margin-top: 70px;
    }

    &-title {
      overflow: hidden;
      margin-bottom: 24px;

      position: absolute;
      left: 50%;
      top: 0%;
      transform: translate(-50%, -140%);

      span {
        color: #fff;
        text-align: center;
        font-size: 42px;
        font-weight: 100;
        text-transform: uppercase;

        white-space: nowrap;

        @media (max-width: 440px) {
          font-size: 26px !important;
        }
      }
    }

    &-subtitle {
      margin-bottom: 42px;
      margin-left: auto;
      margin-right: auto;
      line-height: 144%;
      opacity: 0.8;

      @media (max-width: 440px) {
        line-height: 120%;
      }

      span {
        color: #fff;
        text-align: center;
        font-size: 16px;
        font-weight: 100;
        font-family: var(--third-family);

        white-space: nowrap;

        @media (max-width: 440px) {
          font-size: 12px !important;
        }
      }
    }

    &-btn {
      color: #fff;
      text-align: center;
      font-size: 14px;
      font-weight: 200;

      transition: 0.2s ease;
      font-family: var(--third-family);
      white-space: nowrap;

      &:hover {
        opacity: 0.6 !important;
      }

      @media (max-width: 440px) {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 40vw;
      }
    }

    &-date {
      color: #fff;
      text-align: center;
      font-size: 15px;
      font-weight: 250;

      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 28px;
    }
  }
}
